<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		
		<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/gallery.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet"> 

	</head>


	<body>
		<nav>
			<ul id="naviagtion" style="border:5px solid #763c3f">
			<center>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/blog">Blog</a></li>
				<img src="http://i.imgur.com/XqPoDuK.png" alt="Rocket Punch Studios" style="width:128px;height:128px;">
				<li><a href="/projects">Projects</a></li>
				<li><a href="/games">Games</a></li>
				<li><a href="/mods">Mods</a></li>
			</center>
			</ul>
		</nav>
		<div class="container">

		{{ content }}

		</div>
		<footer>
		<ul>
			<li style="margin-left:15px"><a href="mailto:rocket.punch.studios@gmail.com">email</a></li>
			<li style="margin-left:15px"><a href="https://github.com/Horatio-McCallister">github.com/Horatio-McCallister</a></li>
			</ul>
		</footer>
	</body>
</html>
